body{
    background-color: black;
    text-align: center;
    color: whitesmoke;
}
h1{
    margin-bottom: 5%;
}
#main-container{
    display: none;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 150px;
}
#first-part{
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 45, 45);
    position: relative;
    padding: 3%;
    max-width: fit-content;
    border-right: 2px solid rgb(255, 255, 255);
}
#currency-list{
    position: relative;
    display: block;
    margin: 1%;
    max-height: fit-content;
}
option{
    max-height: fit-content;
}
p{
    margin: 5%;
    width: 100%;
}
#close{
    margin-left: 50%;
    margin-bottom: 70%;
    right: 0;
    display: block;
}
#second-part{
    background-color: rgb(45, 45, 45);
    position: relative;
    min-width: 5%;
    padding: 1%;
}
#unhide{
    position: absolute;
    display: block;
    width: 100%;
    z-index: 5;
    margin-top: 5%;
}
#recount{
    display: none;
}