body{
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(0, 0, 0);
}
h1{
    margin: 5%;
}
#main-container{
    display: none;
    justify-content: center;
    text-align: center;
    position: relative;
    min-height: 250px;
}
#first-part{
    display: flex;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    position: relative;
    padding: 3%;
    max-width: fit-content;
    border-right: 2px solid rgb(255, 255, 255);
    max-height: 80%;
}
#currency-list{
    position: relative;
    display: block;
    margin: 1%;
    max-height: fit-content;
}
option{
    max-height: fit-content;
}
p{
    margin: 5%;
    width: 100%;
}
#close{
    margin-left: 75%;
    margin-bottom: 10%;
    right: 0;
    display: block;
}
#second-part{
    background-color: rgb(51, 51, 51);
    position: relative;
    min-width: 5%;
    padding: 1%;
}
#recount{
    display: none;
}
#unhide{
    margin: 0 auto;
    text-align: center;
}