.nav-search{
    margin-right: 80px;
}
.slider-sizing-custom{
    max-height: 800px;
}
.custom-img-sizing{
    max-height: 800px;
}
.true-block-class{
    display: block;
}
.sizing-col{
    margin-bottom: 12px;
    margin-top: 12px;
}
#lorem-ipsum{
    text-align: center;
}
#main-cols{
    text-align: center;
}
.log-forms button{
margin-left: 15px;
}